/*
Base

General Settings, fonts , line-height and layout

Styleguide 1.0.0
*/

@font-face {
  font-family: 'Avenirnext';
  src: url(fonts/AvenirNext-Regular.ttf), url(fonts/AvenirNext-Regular.eot), url(fonts/AvenirNext-Regular.otf), url(fonts/AvenirNext-Regular.svg), url(fonts/AvenirNext-Regular.woff);
}

@font-face {
  font-family: 'Avenirnext-bold';
  src: url(fonts/AvenirNext-Bold.ttf), url(fonts/AvenirNext-Bold.eot), url(fonts/AvenirNext-Bold.otf), url(fonts/AvenirNext-Bold.svg), url(fonts/AvenirNext-Bold.woff);
}

@font-face {
  font-family: 'Avenirnext-medium';
  src: url(fonts/AvenirNext-Medium.ttf), url(fonts/AvenirNext-Medium.eot), url(fonts/AvenirNext-Medium.otf), url(fonts/AvenirNext-Medium.svg), url(fonts/AvenirNext-Medium.woff);
}

html {
  font-family: 'Avenirnext';
}

b {
	font-family: 'Avenirnext-medium';
}

strong {
	font-family: 'Avenirnext-bold';
}

body {
	line-height: 1.5;
}

/*
Layout

spot-l-container - general container for all the proyect

Styleguide 1.1.0
*/

.spot-l-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.spot-l-top-bar {
  display: inline-block;
}

.spot-l-menu {
  display: none;
  width: 100%;
  padding-bottom: 32px;
  position: absolute;
}

.spot-l-menu ul li a {
  display: block;
	color: var(--color-white);
	text-decoration: none;
	font-weight: 900;
}

.spot-l-menu ul li {
	margin-bottom: 16px;
}

.spot-l-top-bar {
  display: none;
}

.spot-l-container-collapsed {
  padding: 0 16px;
}

.spot-l-menu__footer {
  width: 100%;
}

.spot-l-brand-sitemap__item {
  width: 100%;
}
