/*
// Components
//
//Here are specified all components styles used inside de Inverspot proyect
//
//Styleguide
*/

/*
// Buttons
//
//Styleguide
*/

.spot-c-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: 'Avenirnext';
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

/*
// List style
//
//Styleguide
*/

.spot-c-list {
  list-style: inside !important;
}

.spot-c-list--bare {
  list-style: none;
}

/*
// Custom box-container
//
//Styleguide
*/

.spot-c-md-box-item {
  width: 100%;
}

.spot-c-md-box-item {
  width: 100%;
}

.spot-c-card--h-224px {
  height: 224px;
}

.spot-c-card--h-272px {
  height: 272px;
}

.spot-c-card__item {
  width: 100%;
}

.spot-c-container-squeare--72px {
  margin: auto;
  width: 72px;
  height: 72px;
  border: 8px solid white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 16px;
}

.spot-c-corner {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  border-color: transparent var(--color-primary) transparent transparent;
}

.spot-c-corner--color-base {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  border-color: transparent var(--color-base) transparent transparent;
}

.spot-c-corner__inside {
  position: relative;
  right: -40px;
  top: 2px;
  transform: rotate(30deg);
}

.spot-c-postit {
  width: 100%;
  height: 264px;
}

.spot-c-full-form {
  width: 100%;
}

.spot-c-adress-container {
  width: 100%;
}

.spot-c-faqs-contatier {
  width: 100%;
}

.spot-c-casos-item {
  width: 280px;
}

.spot-c-casos-item__text-center {
  position: absolute;
  margin-top: -204px;
  margin-left: 80px;
}

.spot-c-casos-item__footer-info_right {
  width: 40%;
}

.spot-c-casos-item__footer-info_left {
  width: 60%;
}

.spot-c-contaier--25 {
  width: 100%;
}
