/*
Components


Here are specified all components styles used inside de Inverspot proyect


Styleguide 4.0.0
*/

/*
Buttons


spot-c-button - general button, it will custom with utilities


Styleguide 4.1.0
*/

.spot-c-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: 'Avenirnext';
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

/*
 List style



Styleguide 4.2.0
*/

.spot-c-list {
  list-style: inside !important;
}

.spot-c-list--bare {
  list-style: none;
}

/*
 Custom box-container


 These containers are used to specific actions


Styleguide 4.3.0
*/

.spot-c-md-box-item {
  width: 100%;
}

.spot-c-md-box-item {
  width: 100%;
}

.spot-c-card--h-224px {
  height: 224px;
}

.spot-c-card--h-272px {
  height: 272px;
}

.spot-c-card__item {
  width: 100%;
}

.spot-c-card__item:hover .spot-u-fill--primary{
  background-color: var(--color-base);
}

.spot-c-card__item:hover div.spot-c-card--h-272px > p {
  color: var(--color-gray-dark);
}

.spot-c-container-squeare--72px {
  margin: auto;
  width: 72px;
  height: 72px;
  border: 8px solid white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 16px;
}

.spot-c-corner {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  border-color: transparent var(--color-primary) transparent transparent;
}

.spot-c-corner--color-base {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  border-color: transparent var(--color-base) transparent transparent;
}

.spot-c-corner__inside {
  position: relative;
  right: -40px;
  top: 2px;
  transform: rotate(30deg);
}

.spot-c-postit {
  width: 100%;
  height: 264px;
}

.spot-c-postit:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1)
}

.spot-c-full-form {
  width: 100%;
}

.spot-c-adress-container {
  width: 100%;
}

.spot-c-faqs-container {
  width: 100%;
}

.spot-c-casos-item {
  width: 280px;
}

.spot-c-casos-item__text-center {
  position: absolute;
  margin-top: -204px;
  margin-left: 56px;
}

.spot-c-casos-item__footer-info_right {
  width: 40%;
}

.spot-c-casos-item__footer-info_left {
  width: 60%;
}

.spot-c-contaier--25 {
  width: 100%;
}

.spot-c-card:hover {
  color: ;
}

.spot-c-casos-item__img--background-picture-size{
  width: 280px;
  height: 320px;
}

.spot-c-coach-container {
  width: 100%;
}

.spot-c-youtube-video {
  width: 100%;
  height: 200px;
}

.spot-c-article__item {
  position: relative;
  width: 100%;
  height: auto;
}

.spot-c-mask {
  background-color: rgba(170,170,170,0.9);
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
}

.spot-c-article__item:hover .spot-c-mask {
	width: 100%;
	opacity: 1;
}

.spot-c-mask__button--position {
  position: relative;
  top: 45%;
  left: 30%;
}

.spot-c-sucursal__item {
  width: 100%;
}

.spot-c-info-icon {
  width: 100%;
}

.spot-c-header__button {
  border: none;
  padding: 0px;
  margin-left: 1rem;
}

.spot-c-banner {
  display: flex;
  flex-direction: column;
}

.spot-c-banner__img .spot-u-fill-img-community {
    background-image: url(https://inverspot.mx/wp-content/themes/is-theme/img/1.png);
}

.spot-c-banner__img .spot-u-fill-img-yay {
    background-image: url(https://inverspot.mx/wp-content/themes/is-theme/img/2.png);
}

.spot-c-banner__img .spot-u-ratio-img {
    padding-top: 29.5%;
    height: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    background-size: 100%;
}

.spot-c-mini-icons {
    display: flex;
    justify-content: space-between;
    width: 88px;
}

.spot-c-mini-icons__icon {
  width: 16px;
  height: 16px;
  background-size: 100%;
}

.spot-c-mini-icons__icon.spot-c-mini-icons__icon--tw {
    background-image: url(https://inverspot.mx/wp-content/themes/is-theme/img/Twitter.png);
}
.spot-c-mini-icons__icon.spot-c-mini-icons__icon--fb {
    background-image: url(https://inverspot.mx/wp-content/themes/is-theme/img/Facebook.png);
}
.spot-c-mini-icons__icon.spot-c-mini-icons__icon--li {
    background-image: url(https://inverspot.mx/wp-content/themes/is-theme/img/Linkedin.png);
}
.spot-c-mini-icons__icon.spot-c-mini-icons__icon--yt {
    background-image: url(https://inverspot.mx/wp-content/themes/is-theme/img/YouTube.png);
}

.spot-c-mini-icons__icon.spot-c-mini-icons__icon--primary-dot {
    background-color: var(--color-primary);
    border-radius: 50%;
}

.spot-c-casos__img-top {
  display: none;
}

.spot-c-casos__titles {
  width: 100%;
}

.spot-u-casos__info {
  width: 100%;
}

.spot-c-casos__info-img {
  width: 100%;
}
