/*
Responsive

General Settings, fonts , line-height and layout

Styleguide 6.0.0
*/

@media screen and (min-width: 544px) {
  .spot-c-card__item {
    width: 40%;
  }

  .spot-c-youtube-video {
    height: 288px;
  }

  .spot-c-article__item {
    width: 49%;
  }

  .spot-u-vimeo-video--size {
    width: 100%;
    height: 248px;
  }

  .spot-u-unete__header_text {
    font-size: 16px;
    margin: 8px;
  }

  .spot-u-bg-unete--static {
    background-size: 190%;
  }

  .spot-u-unete__container_img-cup--size {
    width: 300px;
    height: 300px;
  }

  .spot-c-casos__img-top {
    display: block;
    width: 25%;
  }

  .spot-c-casos__titles {
    width: 75%;

  }


}

@media screen and (min-width: 750px) {
  .spot-c-md-box-item {
    width: 33.3%;
  }

  .spot-c-postit {
    width: 30%;
  }

  .spot-c-contaier--25 {
    width: 50%;
  }

  .spot-c-youtube-video {
    width: 49%;
    height: 200px;
  }

  .spot-c-info-icon {
    width: 49%;
  }

  .spot-u-unete__header_text {
    font-size: 24px;
    margin: 8px;
  }

  .spot-u-bg-unete--static {
    background-size: 125%;
  }

  .spot-u-unete__header_img--right {
    width: 133px;
    height: 52px;
  }

  .spot-u-unete__header_img--left {
    width: 68px;
    height: 68px;
  }

  .spot-u-unete__container_img-cup {
    top: 120px;
  }

}

@media screen and (min-width: 800px) {

  .spot-c-coach-container {
    width: 49%;
  }

  .spot-c-youtube-video {
    width: 49%;
    height: 250px;
  }

  .spot-c-article__item {
    width: 24.8%;
  }

  .spot-c-mask__button--position {
    position: relative;
    top: 45%;
    left: 25%;
  }

  .spot-c-banner {
    flex-direction: row;
  }

  .spot-c-banner__img {
    width: 500px;
    flex-shrink: 0;
  }

}

@media screen and (min-width: 1024px) {
  .spot-c-card__item {
    width: 25%;
  }

  .spot-c-postit {
    width: 23%;
  }

  .spot-c-postit--30 {
    width: 30%;
  }

  .spot-c-full-form {
    width: 70%;
  }

  .spot-c-adress-container {
    width: 25%;
  }

  .spot-c-faqs-container {
    width: 48%;
  }

  .spot-c-contaier--25 {
    width: 25%;
  }

  .spot-c-sucursal__item {
    width: 33%;
  }

  .spot-c-info-icon {
    width: 24%;
  }

  .spot-u-unete__header_text {
    font-size: 24px;
    margin: 8px;
  }

  .spot-u-bg-unete--static {
    background-size: 106%;
    padding-bottom: 320px;
  }

  .spot-u-unete__header_img--right {
    width: 197px;
    height: 72px;
  }

  .spot-u-unete__header_img--left {
    width: 88px;
    height: 88px;
  }

  .spot-u-unete__container_img-cup {
    top: 170px;
  }

  .spot-u-unete__container_img-cup--size {
    width: 500px;
    height: 500px;
  }

  .spot-c-casos__left {
    width: 60%;
  }
  .spot-c-casos__right {
    width: 40%;
  }

}



@media screen and (min-width: 1200px) {

  .spot-c-youtube-video {
    width: 49%;
    height: 288px;
  }

  .spot-c-header__button {
    display: none;
  }

  .spot-l-top-bar {
    display: flex;
  }

  .spot-l-container-collapsed {
    padding: 0px;
  }

  .spot-l-menu__footer {
    height: auto;
    width: auto;
  }

  .spot-l-brand-sitemap__item {
    width: 25%;
  }

  .spot-l-menu {
    display: inline-flex;
    width: auto;
    position: unset;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

	.nav-bar__collapsed {
		display: none;
	}

	.menu {
		display: inline-flex;
		width: auto;
		position: unset;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

  .menu ul li {
    display: inline;
		padding-left: 16px;
  }

	.menu ul li a:hover {
	  color: var(--color-complementary);
	}

	.menu ul li:hover {
		border-style: solid;
	  border-top-width: 1px;
	  border-top-color: var(--color-complementary);
	  color: var(--color-complementary);
	}

	#menu-principal li.current-menu-item {
		border-style: solid;
	  border-top-width: 1px;
	  border-top-color: var(--color-complementary);
	}

  .menu ul li a {
    display: unset;
  }

	.spot-l-menu--responsive {
		width: auto;
	}

}

@media screen and (min-width: 1280px) {
	.menu ul li {
		display: inline;
		padding-left: 8px;
	}
}
