@media screen and (min-width: 544px) {
  .spot-c-card__item {
    width: 40%;
  }
}

@media screen and (min-width: 750px) {
  .spot-c-md-box-item {
    width: 33.3%;
  }

  .spot-c-postit {
    width: 30%;
  }

  .spot-c-contaier--25 {
    width: 50%;
  }

}

@media screen and (min-width: 1024px) {
  .spot-c-card__item {
    width: 25%;
  }

  .spot-c-postit {
    width: 23%;
  }

  .spot-c-postit--30 {
    width: 30%;
  }

  .spot-c-full-form {
    width: 70%;
  }

  .spot-c-adress-container {
    width: 25%;
  }

  .spot-c-faqs-contatier {
    width: 48%;
  }

  .spot-c-contaier--25 {
    width: 25%;
  }

}

@media screen and (min-width: 1280px) {

}
