@media screen and (min-width: 544px) {
  .spot-c-card__item {
    width: 40%;
  }

  .spot-c-youtube-video {
    height: 288px;
  }

  .spot-c-article__item {
    width: 49%;
  }
}

@media screen and (min-width: 750px) {
  .spot-c-md-box-item {
    width: 33.3%;
  }

  .spot-c-postit {
    width: 30%;
  }

  .spot-c-contaier--25 {
    width: 50%;
  }

  .spot-c-youtube-video {
    width: 49%;
    height: 200px;
  }

}

@media screen and (min-width: 800px) {

  .spot-c-coach-container {
    width: 49%;
  }

  .spot-c-youtube-video {
    width: 49%;
    height: 250px;
  }

  .spot-c-article__item {
    width: 24.8%;
  }

  .spot-c-mask__button-position {
    position: relative;
    top: 45%;
    left: 25%;
  }

}

@media screen and (min-width: 1024px) {
  .spot-c-card__item {
    width: 25%;
  }

  .spot-c-postit {
    width: 23%;
  }

  .spot-c-postit--30 {
    width: 30%;
  }

  .spot-c-full-form {
    width: 70%;
  }

  .spot-c-adress-container {
    width: 25%;
  }

  .spot-c-faqs-contatier {
    width: 48%;
  }

  .spot-c-contaier--25 {
    width: 25%;
  }

  .spot-c-sucursal__item {
    width: 33%;
  }

}

@media screen and (min-width: 1280px) {

  .spot-c-youtube-video {
    width: 49%;
    height: 288px;
  }

}
